@import "./variables";

@mixin theme($theme: #fafafa) {
  background: $theme;
  box-shadow: 0 0 1px rgba($theme, 0.25);
  color: #222121;
}

@mixin button-bg($bg) {
  background: $bg;
  &:hover {
    background: darken($bg, 8%);
    transition: all 0.3s ease;
  }
  &:active {
    background: darken($bg, 25%);
  }
}
